#home-wrapper{
    display:flex;
    flex-direction: column;
}
#jumbotron{
    width:100vw;
    height:100vh;
    overflow: hidden;
    margin: 0 auto;
    background-color: #0F2CA8;
}


/* Header text */
#header-text-wrapper{
    margin-top: 15vw;
    /* margin-left:20vw; */
}
#header-text{
    letter-spacing: 1.5px;
    text-align: center;
    color:#FBFCC9;
    font-family: 'Bevan', cursive;
}
#header-subtext{
    margin-top:10vh;
    letter-spacing: 1.5px;
    text-align: center;
    color:#FBFCC9;
    font-family: 'Bevan', cursive;
}



#intro{
    min-height:70vh;
    background-color: #FBFCC9;
}
#functions{
    display:flex;
}

